
.main, .header{
    max-width: var(--max-width);
    margin: 0 auto;
    padding: var(--padding);

}
.header{
    height: var(--header-height);
    top : 0;
    left: 0;
    right: 0;
    position: fixed;
    background-color: var(--decore-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 10px 10px #0000007d;

    img{
        height : 40px;
        width: 40px;
        filter:  invert(1);
    }

}
.main{
    height: var(--main-height);
    margin-top: var(--header-height);
    background: #f9f9f9;
    border: 1px solid var(--main-color);
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: start;
    gap :10px;
}