:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  --max-width : 1440px;
  --header-height : 60px;
  --main-height : calc(100vh - var(--header-height));
  --body-gackground : hsl(115, 100%, 95%);
  --content-background : #fff;
  --decore-color : #0d00ff;
  --main-color: hsl(0, 0%, 90%);
  --padding: 10px;
  --decore-font-family : 'Caveat', cursive;
  --link-color : #939393;
  --link-active-color : #2b2b2b;


  @media screen and (max-width: 768px) {
    --padding : 5px;
  }

  @media screen and (max-width: 480px) {
    --padding : 2px;
  }
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
  font-family: var(--decore-font-family);
}
body{
  background-color: var(--body-gackground);
}
a {
  color: var(--link-active-color);
  text-decoration: none;
  margin-right: 5px;
}